// Place all the styles related to the public/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header-content {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    .logo {
      padding: 10px 10px;
      font-family: "Century";
      text-decoration: none;
    }

    .image_tag {
       height: 20px;
       width: 20px;
    }
}

.main-title {
  font-family: cursive;
}

sub-title {
  font-family: serif;
}

.cover {
  height: 500px;
  width: 700px;
  justify-content: center;
  display: table;
  background-image: url(/assets/429991.png);
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: 100% 100%;
}

.cover2 {
  height: 700px;
  width: 900px;
  justify-content: center;
  display: table;
  background-image: url(/assets/23673185.png);
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: 100% 100%;
}

.cover3 {
  height: 50px;
  width: 900px;
  justify-content: center;
  display: table;
  background-image: url(/assets/23673185.png);
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: 100% 100%;
}



.text-center {
  display: table-cell;
  vertical-align: middle;
}

.card-group {
   padding: 10px;
   margin: 10px auto;
}



footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #ccc;
}