// Place all the styles related to the public/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.main-title {
  font-family: cursive;
}

sub-title {
  font-family: serif;
}

.cover {
  height: 500px;
  width: 700px;
  justify-content: center;
  display: table;
  background-image: url(/assets/429991.png);
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: 100% 100%;
}


.text-center {
  display: table-cell;
  vertical-align: middle;
}

footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #ccc;
}


.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}