<div class="container-fluid">
<div class="row justify-content-center">
<div class="cover">
<div class="text-center">
<h1 class="title mb-2">本当に退会しますか？</h1>
  <p class="text">
    退会すると、会員登録情報や<br>
    これまでの登録内容が全て削除されます。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>

  <%= link_to "退会しない", mypage_path(current_user.id), :class => "btn btn-primary ms-3" %>
  <%= link_to "退会する", confirm_withdraw_path, method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>

</div>
</div>
</div>
</div>